<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About-App </title>
       <h1>This page is about app....</h1>
    </head>
    <body>
   {{> header}}

    <p> The app is about to build new app </p>
    <p>This app started at {{date}}</p>

   {{> footer}}
    </body>
</html>