 <header>

     <table border="10px" >
         <tr>
             <td>
              <a href="/">Home page </a>
             </td>
             <td>
              <a href="/about">About-app</a>
             </td>
         </tr>
     </table>

    </header>